# ===============================
# Unreal Engine
# ===============================
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# ===============================
# Unreal Build Files
# ===============================
*.xcodeproj
*.xcworkspace
*.opensdf
*.sdf
*.suo
*.user
*.userprefs
*.vcxproj.user

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs & Temp
# ===============================
*.log
